<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <title>NewsSight</title>
        <!-- Sylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <!-- Injected through React  -->
        <% if (loggedIn) { %>
            <div id="nav" loggedIn="true"></div>
        <% } else { %>
            <div id="nav" loggedIn="false"></div>        
        <% } %>

        <div id="main">
            <div class="mainSection splash">
                
            </div>
            <div class="mainSection popularNews">

            </div>
            <div class="mainSection aboutTitle">

            </div>
            <div class="mainSection aboutSection">

            </div>
        </div>

        <!-- Injected through React  -->
        <% if (loggedIn) { %>
            <div id="footer" loggedIn="true"></div>
        <% } else { %>
            <div id="footer" loggedIn="false"></div>        
        <% } %>
        <!-- Scripts -->
        <!-- JQuery requirede for bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="js/home.bundle.js"></script>
    </body>
</html>