
.HomeJumbotron {
    width: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFFFF;
    padding-left: 10%;
    padding-right:50px;
    padding-top:100px;
    padding-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
}

.titleDiv {

}

.messageDiv {
    margin-top:40px;
    width:40%;
}

.title {
    color: #FFFFFF;
    font-size: 3em;
}

.message {
    color: #FFFFFF;
    font-size: 1em;
}
